<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置整合mybatis过程-->
    <!--1、配置数据库相关参数 properties属性${url}-->
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    <!--<context:property-placeholder location="classpath:jdbc.properties" />-->

    <!--2、使用c3p0配置数据库连接池-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        &lt;!&ndash;配置数据库连接属性&ndash;&gt;
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        &lt;!&ndash;c3p0连接池私有属性&ndash;&gt;
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        &lt;!&ndash;关闭连接池后不自动commit 默认&ndash;&gt;
        <property name="autoCommitOnClose" value="false"/>
        &lt;!&ndash;获取连接超时时间 0：无限超时，会产生类似死锁&ndash;&gt;
        <property name="checkoutTimeout" value="1000"/>
        &lt;!&ndash;当获取连接失败，重试次数&ndash;&gt;
        <property name="acquireRetryAttempts" value="2"/>
    </bean>-->

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="initialSize" value="${jdbc.initSize}" />
        <property name="minIdle" value="${jdbc.minIdle}" />
        <property name="maxActive" value="${jdbc.maxActive}" />
        <property name="maxWait" value="${jdbc.maxWait}" />
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <property name="validationQuery" value="SELECT 'x'" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />
    </bean>

    <!--约定大于配置-->
    <!--3、配置sqlSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置mybatis全局配置文件mybatils-config.xml-->
        <property name="configLocation" value="classpath:mybatils-config.xml"/>
        <!--扫描entity包，使用别名-->
        <property name="typeAliasesPackage" value="cn.stt.magnetic.po"/>
        <!--扫描sql配置文件：mapper需要的xml文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--4、配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory
            使用sqlSessionFactoryBeanName，目的是使用mapper的使用初始化，
            防止sqlSessionFactory在未加载jdbc.properties时初始化报错
        -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--给出需要Dao接口接口包-->
        <property name="basePackage" value="cn.stt.magnetic.dao"/>
    </bean>

    <!--RedisDao
    <bean id="redisDao" class="cn.stt.seckillsys.dao.cache.RedisDao">
        <constructor-arg index="0" value="localhost"></constructor-arg>
        <constructor-arg index="1" value="6379"></constructor-arg>
    </bean>
    -->

</beans>