<?xml version="1.0" encoding="UTF-8"?>
<!-- logback配置官方文档： http://logback.qos.ch/manual/configuration.html -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DailyRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>d:/logs/analyze_magnetic.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="cn.stt" level="DEBUG"/>
    <logger name="org.apache" level="info"/>
    <logger name="org.mybatis" level="info"/>
    &lt;!&ndash;<logger name="com.alibaba.dubbo" level="error"/>&ndash;&gt;
    <logger name="org.springframework" level="info"/>-->

    <root level="dubug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="DailyRollingFile" />
    </root>
</configuration>