<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">收支明细管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
           班级：
        </li>
        <li>
          <select name="cid" class="input" style="width:200px; line-height:17px;" onchange="changesearch()">
            <option value="">请选择班级</option>
            <option value="">信息101</option>
            <option value="">信息102</option>
            <option value="">信息103</option>
            <option value="">信息104</option>
          </select>
        </li>
        <li>
           收支科目：
        </li>
        <li>
          <select name="cid" class="input" style="width:200px; line-height:17px;" onchange="changesearch()">
            <option value="">请选择收支科目</option>
            <option value="">买水</option>
            <option value="">买书</option>
            <option value="">野炊</option>
            <option value="">篮球比赛</option>
          </select>
        </li>
        <li>
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a>
        </li>
    </ul>
      <br>
      <ul class="search">
        <li>
            <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
          </li>
          <li> <a class="button border-main icon-plus-square-o" href="add.html"> 添加收支明细</a> </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120"><input type="checkbox" id="checkedAll"/>ID</th>
        <th>班级名称</th>       
        <th>收支科目</th>
        <th>收支类型</th>
        <th>收支明细（元）</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>备注</th>
        <th>操作</th>       
      </tr>      
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />
            1</td>
          <td>信息101</td>
          <td>买书</td>
          <td>消费</td>
          <td>128</td>
          <td>2016-5-12</td>
          <td>2016-5-12</td>
          <td>水浒传，西游记</td>
          <td>
          <div class="button-group"> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-edit"></span> 编辑</a> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />
            1</td>
          <td>信息101</td>
          <td>买书</td>
          <td>消费</td>
          <td>128</td>
          <td>2016-5-12</td>
          <td>2016-5-12</td>
          <td>水浒传，西游记</td>
          <td>
          <div class="button-group"> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-edit"></span> 编辑</a> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />
            1</td>
          <td>信息101</td>
          <td>买书</td>
          <td>消费</td>
          <td>128</td>
          <td>2016-5-12</td>
          <td>2016-5-12</td>
          <td>水浒传，西游记</td>
          <td>
          <div class="button-group"> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-edit"></span> 编辑</a> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />
            1</td>
          <td>信息101</td>
          <td>买书</td>
          <td>消费</td>
          <td>128</td>
          <td>2016-5-12</td>
          <td>2016-5-12</td>
          <td>水浒传，西游记</td>
          <td>
          <div class="button-group"> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-edit"></span> 编辑</a> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="id[]" value="1" />
            1</td>
          <td>信息101</td>
          <td>人头费</td>
          <td>收入</td>
          <td>600</td>
          <td>2016-5-12</td>
          <td>2016-5-12</td>
          <td>小明小红还没交</td>
          <td>
          <div class="button-group"> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-edit"></span> 编辑</a> 
            <a class="button border-red" href="javascript:void(0)" onclick="return del(1)"><span class="icon-trash-o"></span> 删除</a>
          </div>
          </td>
        </tr>
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>