<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stt.magnetic.dao.VideoInfoMapper">
  <resultMap id="BaseResultMap" type="cn.stt.magnetic.po.VideoInfo">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="sha1" jdbcType="VARCHAR" property="sha1" />
  </resultMap>
  <sql id="Base_Column_List">
    hash, sha1
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hash
    where hash = #{hash,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hash
    where hash = #{hash,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.stt.magnetic.po.VideoInfo">
    insert into hash (hash, sha1)
    values (#{hash,jdbcType=VARCHAR}, #{sha1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.stt.magnetic.po.VideoInfo">
    insert into hash
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        hash,
      </if>
      <if test="sha1 != null">
        sha1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="sha1 != null">
        #{sha1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.stt.magnetic.po.VideoInfo">
    update hash
    <set>
      <if test="sha1 != null">
        sha1 = #{sha1,jdbcType=VARCHAR},
      </if>
    </set>
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.stt.magnetic.po.VideoInfo">
    update hash
    set sha1 = #{sha1,jdbcType=VARCHAR}
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
</mapper>